<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Créer un produit</title>
</head>
<body>

<section class="form-container-parent">
    <div class="form-container">
        <h1 class="text-center">Ajouter un produit</h1>

        <form method="POST">
            {{ form.hidden_tag() }}

            <p>{{ form.name.label }}: {{ form.name() }}</p>
            <p>{{ form.amount.label }}: {{ form.amount() }}</p>
            <p>{{ form.category.label }}: {{ form.category() }}</p>

            <p>{{ form.submit() }}</p>  <!-- Le bouton de soumission -->
        </form>

        <a href="{{ url_for('web_ui.home') }}" class="form-button">Retour</a>
    </div>
</section>

</body>
</html>
