<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Supprimer un produit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Supprimer un produit</h1>

    <form method="POST">
        <label for="id">Sélectionnez un produit à supprimer :</label>
        <select name="id" id="id">
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Supprimer</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


<a href="{{ url_for('web_ui.home') }}" class="form-button">Retour</a>
</body>
</html>
