<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gestionnaire de budget</title>
</head>
<body>

<section class="form-container-parent">
    <div class="form-container">
        <h1 class="text-center">Bienvenue sur le gestionnaire de budget</h1>

        <a href="{{ url_for('create_product') }}" class="form-button">Créer un produit</a>
        <a href="{{ url_for('delete_product') }}" class="form-button">Supprimer un produit</a>
        <a href="{{ url_for('get_product') }}" class="form-button">Récupérer un produit existant</a>
        <a href="{{ url_for('get_all_products') }}" class="form-button">Consulter tous les produits existants</a>
        <a href="{{ url_for('update_product') }}" class="form-button">Modifier un produit existant</a>
        <a href="{{ url_for('import_csv') }}" class="form-button">Importer/Exporter des produits</a>
</div>
</section>

</body>
</html>
